:root {
  --primary-500: #4586ce;
  --primary-400: #74a4da;
  --primary-50: #f8fbff;
  --primary-300: #8bb3e0;
  --primary-200: #a2c2e7;
  --primary-100: #dce9f9;
  --primary-600: #3275be;
  --primary-700: #245388;
  --primary-800: #163252;
  --primary-900: #07111b;
  --neutral-500: #738191;
  --neutral-400: #8f9aa7;
  --neutral-300: #abb3bd;
  --neutral-200: #c7cdd3;
  --neutral-100: #e3e6e9;
  --neutral-50: #f1f2f4;
  --neutral-600: #64717f;
  --neutral-700: #48515b;
  --neutral-800: #2b3037;
  --neutral-900: #0e1012;
  --shades-white: #ffffff;
  --shades-black: #000000;
  --secondary-500: #955eb2;
  --secondary-50: #f4eff7;
  --secondary-100: #eadff0;
  --secondary-200: #d5bfe0;
  --secondary-300: #bf9ed1;
  --secondary-400: #aa7ec1;
  --secondary-600: #75448f;
  --secondary-700: #543166;
  --secondary-800: #321d3d;
  --secondary-900: #110a14;
  --success-500: #10b981;
  --success-50: #ecfdf5;
  --success-100: #d1fae5;
  --success-200: #a7f3d0;
  --success-300: #6ee7b7;
  --success-400: #34d399;
  --success-600: #059669;
  --success-700: #047857;
  --success-800: #065f46;
  --success-900: #064e3b;
  --warning-500: #f59e0b;
  --warning-50: #fffbeb;
  --warning-100: #fef3c7;
  --warning-200: #fde68a;
  --warning-300: #fcd34d;
  --warning-400: #fbbf24;
  --warning-600: #d97706;
  --warning-700: #b45309;
  --warning-800: #92400e;
  --warning-900: #78350f;
  --error-50: #fef2f2;
  --error-100: #fee2e2;
  --error-200: #fecaca;
  --error-300: #fca5a5;
  --error-400: #f87171;
  --error-500: #ef4444;
  --error-600: #dc2626;
  --error-700: #b91c1c;
  --error-800: #991b1b;
  --error-900: #7f1d1d;
  --dark-900: #0a131d;
  --dark-800: #161f28;
  --dark-700: #1b242d;
  --dark-600: #1e262f;
  --dark-500: #202831;
  --dark-400: #252d36;
  --dark-300: #272f38;
  --dark-200: #2c343d;
  --dark-100: #2f363f;
  --dark-50: #313941;
}
/* all fonts share this - */
/* {
  text-transform: none;
  text-decoration: none;
  font-family: "Inter";
} */

/* h1 */

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
}

/* .h1-semi-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
}
.h1-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
}
.h1-extra-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
} */

/* main */
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.main-paragraph-bold {
  font-weight: 700;
}

.main-paragraph-underline {
  text-decoration: underline;
}

/* .main-paragraph-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.main-paragraph-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.main-paragraph-underline {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: underline;
} */

/* main bigger */
.bigger-paragraph-regular {
  font-size: 19px;
  font-weight: 400;
  line-height: 21.6px;
}
.bigger-paragraph-bold {
  font-size: 19px;
  font-weight: 700;
  line-height: 21.6px;
}
.bigger-paragraph-underline {
  font-size: 19px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
}

/* h1 small */
.h1-small-semi-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
}
.h1-small-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
}
.h1-small-extra-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
}

/* main smaller */
.smaller-paragraph-caption-regular {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}
.smaller-paragraph-caption-bold {
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
}
.smaller-paragraph-caption-underline {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: underline;
}

/* footer */
.footer-regular {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.02em;
}
.footer-bold {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.02em;
}
.footer-capital-and-bold {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

/* shadows */
.shadow-sm {
  box-shadow: 0px 3px 12px $shades-black;
}
.shadow-lg {
  box-shadow: 0px 10px 20px $shades-black;
}
