.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding-inline: 16px;
  background-color: var(--primary-50);
  border-bottom: 1px solid var(--neutral-100, #e3e6e9);
}

.profilePick {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 100%;
}

.logo {
  cursor: pointer;
}
