.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  padding-inline: 16px;
  background-color: $primary-50;
  border-bottom: 1px solid $neutral-100;
  box-sizing: border-box;
}

.profilePick {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 100%;
}

.logo {
  cursor: pointer;
}
